
body{
    font-family: 'Mooli', sans-serif;
}
.fonte {
    font-family: 'Sedgwick Ave Display', cursive;
}
.fonte-mobile{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
}
.tamanho-btn{
    width: 315px;
    height: 50px;
    text-align: left;
    
}
.curriculo{
    font-size: 17px;
    display: inline-flex
}
.arquivos-c{
    font-size: 17px;
    display: inline-flex
}
.foto{
    border-radius: 50%;
    width: 150px;
    margin-left: 90px;
}
.foto-mobile{
    border-radius: 50%;
    width: 150px;
}
.nome{
    padding-top: 35px;
}
.insta{
    color: rgb(228, 75, 233);
}
.wpp{
    color: rgb(0, 175, 38);
}
.git{
    color: black;
}
.tamanho-copy{
    font-size: 13px;
}