body{
    font-family: 'Mooli', sans-serif;
}
.fonte {
    font-family: 'Sedgwick Ave Display', cursive;
}
.fonte-mobile{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 30px;
}
.lado{
    padding-bottom: 35%;
}
.tamanho-btn{
    width: 315px;
    height: 50px;
    text-align: left;
    
}
.curriculo{
    font-size: 17px;
    display: inline-flex
}
.arquivos-c{
    font-size: 17px;
    display: inline-flex
}
.tamanho{
    font-size: 13px;
}
.cor{
    color: rgb(141, 141, 141);
}
.vrum{
    width: 200px;
    border-radius: 5px;
}